= render 'header/header' # ヘッダーのパーシャルを呼び出す

%h2.text-center.mb-4 つながるマルシェ管理画面（ログイン）

.container
  .row.justify-content-center
    .col-md-6
      .card.shadow-sm
        .card-body
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .mb-3
              = f.label :email, class: "form-label"
              = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"

            .mb-3
              = f.label :password, class: "form-label"
              = f.password_field :password, autocomplete: "current-password", class: "form-control"

            - if devise_mapping.rememberable?
              .form-check.mb-3
                = f.check_box :remember_me, class: "form-check-input"
                = f.label :remember_me, class: "form-check-label"

            .d-grid
              = f.submit "ログイン", class: "btn btn-primary btn-block"

          .mt-3.text-center
            = render "admin/shared/links"

= render 'footer/footer'