= render 'header/header' # ヘッダーのパーシャルを呼び出す

.seller-details
  %h1 個人ショップ詳細ページ

  %table.seller-info-table
    %tbody
      %tr
        %th アカウント名
        %td= @seller.name if @seller

      %tr
        %th メール
        %td= @seller.email if @seller

      %tr
        %th 概要の説明
        %td= @seller.description if @seller

      %tr
        %th 住所
        %td= @seller.address if @seller

      %tr
        %th 電話番号
        %td= @seller.phone_number if @seller

      %tr
        %th ウェブサイト
        %td= link_to @seller.website, @seller.website, target: "_blank" if @seller&.website

      %tr
        %th 営業時間
        %td
          -# %p= "曜日: #{@seller.business_hours_days}"
          %p= "時間: #{@seller.business_hours_start&.strftime('%H:%M')} - #{@seller.business_hours_end&.strftime('%H:%M')}"
      %tr
        %th 店休日
        %td= @seller.business_hours_days.present? ? @seller.business_hours_days : '未設定'
      %tr
        %th ショップ紹介写真
        %td
          - if @seller.images.attached?
            - @seller.images.uniq.each do |image|
              = image_tag image, class: "shop-image"
          - else
            = image_tag "no_image_square.jpg", class: "shop-image"

  %h2 出店したイベント
  - if @seller.events.present?
    %table.event-info-table
      %thead
        %tr
          %th イベント名
          %th 開催日
      %tbody
        - @seller.events.each do |event|
          %tr
            %td= link_to event.title, event_path(event)
            %td= event.start_time.strftime('%Y/%m/%d') if event.start_time
  - else
    %p このセラーはまだイベントを開催していません。

= render 'footer/footer' # フッターのパーシャルを呼び出す