= render 'header/header' # ヘッダーのパーシャルを呼び出す

.hosts-index
  %h1 ショップ一覧

  - if @hosts.present?
    .hosts-list
      - @hosts.each do |host|
        .host-item
          %h2= link_to host.name, host_profile_show_host_profile_path(host) # ★ホスト詳細へのリンク
          %p= host.description.truncate(100) # 説明を短く表示
          - if host.top_image.attached?
            = image_tag host.top_image, size: "100x100"
          = link_to '詳細を見る', host_profile_show_host_profile_path(host), class: 'btn btn-secondary'
  - else
    %p 登録されているショップはまだありません。

= render 'footer/footer'