= render 'header/header' # ヘッダーのパーシャルを呼び出す

.host-details
  .host-header
    .host-identity
      %h1.host-name-with-breaks= @host.name.presence || '名称未設定'
      
      
    -# .host-contact-info
    -#   .contact-items
    -#     %p.host-website= "ウェブサイト: #{link_to @host.website.presence || '未設定', @host.website, target: '_blank'}"
    -#     %p.host-address= "所在地: #{@host.address.presence || '未設定'}"
    -#     %p.host-phone= "TEL: #{@host.phone_number.presence || '未設定'}"
  
  .host-top-image
  - if @host&.top_image&.attached?
    .top-image-container
      = image_tag @host.top_image, class: 'host-top-image'

  .host-contact-info
    .contact-items
      %p.host-website= "ウェブサイト: #{link_to @host.website.presence || '未設定', @host.website, target: '_blank'}"
      %p.host-address= "所在地: #{@host.address.presence || '未設定'}"
      %p.host-phone= "TEL: #{@host.phone_number.presence || '未設定'}"
      %p.host-hours= "営業時間: #{@host.business_hours_start&.strftime('%H:%M')} - #{@host.business_hours_end&.strftime('%H:%M')}"
      %p.host-closed-days= "店休日: #{@host.business_hours_days.presence || '未設定'}"

  .host-events
    %h2 出店イベント一覧
    - if @events.present?
      %table
        %thead
          %tr
            %th イベント名
            %th 開催日
            %th 開催地域
            
        %tbody
          - @events.each do |event|
            %tr
              %td= link_to event.title, event_path(event)
              %td= event.start_time.strftime('%Y/%m/%d') if event.start_time
              %td= event.venue.present? ? event.venue : '未設定'
    - else
      %p イベントがありません。

  .content-grid
    .left-column
      .host-news-section
        %h2 新着ニュース
        %p= simple_format(@news_text.presence || '新しいニュースはありません。')
      
    .right-column
      .topics-section
        %h2 トピックス
        %p= simple_format(@topics_text.presence || 'トピックスはありません。')

  .description-section
    %h2 私たちについて
    %p= simple_format(@host.description.presence || 'トピックスはありません。')

  .goods-section
    %h2 商品紹介
    .goods-list
      -#   .good-item
      -#     %h3 商品説明
      -#     %p= @host.goods_introduction.presence || '商品紹介はありません。'

      .good-item
        %h3 商品紹介①
        - if @host.goods_image_1.attached?
          = image_tag @host.goods_image_1, class: 'good-image'
        %p= simple_format(@host.goods_introduction_1.presence || '商品紹介はありません。')

      .good-item
        %h3 商品紹介②
        - if @host.goods_image_2.attached?
          = image_tag @host.goods_image_2, class: 'good-image'
        %p= simple_format(@host.goods_introduction_2.presence || '商品紹介はありません。')

      .good-item
        %h3 商品紹介③
        - if @host.goods_image_3.attached?
          = image_tag @host.goods_image_3, class: 'good-image'
        %p= simple_format(@host.goods_introduction_3.presence || '商品紹介はありません。')

      .good-item
        %h3 商品紹介④
        - if @host.goods_image_4.attached?
          = image_tag @host.goods_image_4, class: 'good-image'
        %p= simple_format(@host.goods_introduction_4.presence || '商品紹介はありません。')

  .host-images
    %h2 画像ギャラリー
    - if @host.images.attached?
      .image-gallery
        - @host.images.each_with_index do |image, index|
          = image_tag image, class: 'host-image', style: "order: #{index};"
    - else
      %p 画像がありません。

    -#   .host-video
    -#     %h2 動画
    -#     - if @host.video.attached?
    -#       .video-container
    -#         = video_tag @host.video, controls: true, class: 'host-video'
    -#     - else
    -#       %p 動画がありません。

  .contact-section
    %h2 コンタクト
    
    %p.contact-message お問い合わせはこちらから:
    -# = link_to 'お問い合わせフォーム', contact_path, class: 'contact-link'

= render 'footer/footer'