%body
  = render 'header/header' # ヘッダーのパーシャルを呼び出す

%h1 イベント出店一覧
%p ここではイベントに出店しているアカウントの一覧を表示します。
%p 出店者の詳細を確認するには、名前をクリックしてください。

.section-index
  %h2 ショップ出店一覧
  - if @hosts.present?
    %table
      %thead
        %tr
          %th ショップ名
          -# %th メールアドレス
          %th ショップ住所
          %th 直近の開催イベント
      %tbody
        - @hosts.each do |host|
          %tr
            %td
              - if host.name.present?
                = link_to host.name, public_host_profile_path(host.slug || host.id)
              - else
                %span 未設定
            -# %td= host.email.presence || 'メールアドレス未設定'
            %td= host.address.presence || '住所未設定'
            %td
              - if host.events.present?
                = link_to host.events.order(start_time: :asc).first.title, event_path(host.events.order(start_time: :asc).first)
              - else
                %span イベントなし
  - else
    %p ショップ出店が見つかりません。

.section-index
  %h2 個人出店一覧
  - if @sellers.present?
    %table
      %thead
        %tr
          %th ショップ(アカウント)名
          -# %th メールアドレス
          %th ショップ住所
          %th 直近の開催イベント
      %tbody
        - @sellers.each do |seller|
          %tr
            %td
              - if seller.name.present?
                = link_to seller.name, seller_path(seller)
              - else
                %span 未設定
            -# %td= seller.email.presence || 'メールアドレス未設定'
            %td= seller.address.presence || '住所未設定'
            %td
              - if seller.events.present?
                = link_to seller.events.order(start_time: :asc).first.title, event_path(seller.events.order(start_time: :asc).first)
              - else
                %span イベントなし
  - else
    %p 個人出店が見つかりません。

= link_to '戻る', root_path, class: 'operation-button'

= render 'footer/footer'