%body
  = render 'header/header' # ヘッダーのパーシャルを呼び出す

  .top-container
    .event-container
      .event-btn
        = link_to events_path, class: 'btn btn-primary' do
          .link_inner
            %h3 イベント一覧

    .facility-container
      .facility-btn
        = link_to facilities_path, class: 'btn btn-secondary' do
          .link_inner
            %h3 出展施設一覧

  .top-image
    .top-slider
      %img{ src: asset_path('slider1.png'), alt: 'スライダー1' }
      %img{ src: asset_path('slider2.png'), alt: 'スライダー2' }
      %img{ src: asset_path('slider3.png'), alt: 'スライダー3' }
    .slider-navigation
      %button.prev 前へ
      %button.next 次へ

  .column-section
    .section.news
      %h2 お知らせ
      %ul
        %li
          %a(href="#") イベント開催日変更のお知らせ
        %li
          %a(href="#") 新規出店者情報
        %li
          %a(href="#") 悪天候による開催について

    .sns-container
      .sns-inner
        %h3 インスタグラムセクション
        %img{ src: asset_path('instagram_icon.png'), alt: '公式アカウントロゴ' }

      .sns-inner
        %h3 エックスセクション
        -# %img{ src: asset_path('twitter.png'), alt: '公式アカウントロゴ' }

      .sns-inner
        %h3 フェイスブックセクション
        -# %img{ src: asset_path('facebook_icon.png'), alt: '公式アカウントロゴ' }

  .section.events
    %h2 近日開催のイベント
    .event-list
      - if @recent_events.present?
        - @recent_events.each do |event|
          .event-item
            - if event.images.present? && event.images.attached?
              = image_tag event.images.first, alt: event.title, class: 'event-image'
            - else
              .event-no-image
                = image_tag "no_image_square.jpg", alt: "no image", class: 'event-no-image'
            %h3= event.title
            %p 開催日:
            - if event.start_time.present?
              = event.start_time.strftime('%Y/%m/%d')
            - else
              未定
            %p 詳細:
            = truncate(event.description, length: 50)
      - else
        %p 近日開催のイベントはありません。

  .section.recruitment
    %h2 出展者募集
    .recruitment-content
      %img{ src: asset_path('slider1.png'), alt: '出展者募集' }
      %a.button{ href: "#" } 出展者募集中！

  .section.description
    %h2 マルシェについて
    .marche-description
      %p 私たちのマルシェは、地域と人々をつなぐ出会いの場です。イベントを通じて、楽しいお出かけと思い出を作りませんか？
      %p イベントと参加者のマッチング: ...
      %p お出かけをして楽しい出会いを作ろう: ...

  = render 'footer/footer'

:javascript
  $(document).ready(function(){
    $('.slider').slick({
      autoplay: true, // 自動的に動き出すか
      autoplaySpeed: 3000, // 次のスライドに切り替わる待ち時間
      speed: 1500, // スライドの動きのスピード
      infinite: true, // スライドをループさせるか
      slidesToShow: 1, // スライドを画面に1枚見せる
      slidesToScroll: 1, // 1回のスクロールで1枚の写真を移動して見せる
      arrows: false, // 画像移動用の矢印の表示
      dots: true // 下部ドットナビゲーションの表示
    });
  });

