%body
  = render 'header/header' # ヘッダーのパーシャルを呼び出す
    
  .top-container
    
    .top-container-message
      %img{ src: asset_path("top-page-image2.png"), alt: "Top Page Image", class: "top-image" }
      %h1 ようこそマルシェへ
      %p 私たちのマルシェは、地域と人々をつなぐイベントコミュニティーです。
      %p イベントを通じて、楽しいお出かけと思い出を作りませんか？
      %p 楽しい出会いを見つけにいこう！


    .top-btn-container
      .event-container 
        .event-btn
          = link_to events_path, class: 'btn-primary' do
            .link_inner
              %h3 イベント一覧

      .facility-container 
        .facility-btn
          = link_to facilities_path, class: 'btn-secondary' do
            .link_inner
              %h3 出店一覧

      .upcoming-events-container
        .upcoming-events-button
          = link_to events_path(filter: 'recent'), class: 'btn-secondary' do
            .link_inner
              %h3 開催間近の<br>イベント

  
  .pickup-contaner
    %h2 注目イベントピックアップ
  .pickup-top
    .pickup-slider
      - if @featured_events.present?
        - @featured_events.each do |event|
          .event-item
            - if event.images.present? && event.images.attached?
              = link_to event_path(event) do
                = image_tag event.images.first, alt: event.title, class: 'event-image'
            - else
              = link_to event_path(event) do
                .event-no-image
                  = image_tag "no_image_square.jpg", alt: "no image", class: 'event-no-image'
            %h3
              = link_to event.title, event_path(event)
            %p 開催日
            - if event.start_time.present?
              = event.start_time.strftime('%Y/%m/%d')
            - else
              未定
            %p 詳細
            = truncate(event.description, length: 50)
      - else
        %p 注目イベントは現在ありません。

    = paginate @featured_events

   
  .news-section
    %h2 お知らせ   
  .column-section 
    .section.news
      %h3 NEWS
      .news-list-scroll
        %ul
          - if @notices.present?
            - @notices.each do |notice|
              %li
                .news-contaier 
                  .news-contaier-date
                    = notice.published_at.strftime('%Y/%m/%d') if notice.published_at
                  %strong= notice.title
                -# %small 公開日時: 
                
                %p= truncate(notice.content)
                
          - else
            %p お知らせはありません。
        
    .sns-container
      %h3 SNSセクション
      .sns-inner 
        .h4 インスタグラムセクション
        -# = image_tag "/images/instagram_icon.png", alt: "公式アカウントロゴ"
        %img(src="#{asset_path('instagram_icon.png')}" alt="公式アカウントロゴ")
      
      .sns-inner
        .h4 エックスセクション
        -# = image_tag "/images/",lt: "公式アカウントロゴ"
        %img(src="#{asset_path('twitter.png')}" alt="公式アカウントロゴ")
        
      .sns-inner 
        .h4 フェイスブックセクション
        -# = image_tag "/images/mimamorifavicon.png", alt: "公式アカウントロゴ"
        %img(src="#{asset_path('Facebook_Logo_Primary.png')}" alt="公式アカウントロゴ")
    

  .section.events
    %h2 近日開催のイベント
    .event-list
      - if @recent_events.present?
        - @recent_events.each do |event|
          .event-item
            - if event.images.present? && event.images.attached?
              = link_to event_path(event) do
                = image_tag event.images.first, alt: event.title, class: 'event-image'
            - else
              .event-no-image
                = image_tag "no_image_square.jpg", alt: "no image", class: 'event-no-image'
            %h3
              = link_to event.title, event_path(event)
            %p 開催日
            - if event.start_time.present?
              = event.start_time.strftime('%Y/%m/%d')
            - else
              未定
            %p 詳細
            = truncate(event.description, length: 50)
      - else
        %p 近日開催のイベントはありません。

  .section.recruitment
    %h2 出店者募集!! 
    .recruitment-content
      %p 出店者を募集しています。事業所のイベントを告知したい方や出店する情報を告知したい方は以下のリンクから告知要項ををご覧ください。
      .recruitment-link
        = link_to recruitment_path do
          出店者募集要項へ
    .recruitment-image
      = image_tag "slider1.png", alt: "出店者募集のイメージ", class: "recruitment-image"
      

  .section.description
    %h2 つながるマルシェについて
    .marche-description
      %p 私たちのマルシェは、地域と人々をつなぐ出会いの場です。イベントを通じて、楽しいお出かけと思い出を作りませんか？
      %p イベントに出店する事業所さまや個人事業主、団体の方々を募集しています。
      出店することで、地域の人々とつながり、新しい出会いを楽しむことができます。
      %p このマルシェに掲載されているお店に出かけてみましょう。
      楽しいイベントが開催されています。きっと新しい発見が見つかるはずです。

  = render 'footer/footer'
  
  

