
%body
  = render 'header/header' # ヘッダーのパーシャルを呼び出す
  %section.recruitment
    %h1.page-title つながるマルシェに参加してみませんか？  〜出店者募集〜
  

  .recruitment-btn-containaer
    = link_to new_seller_registration_path, class: 'btn-recruitment' do
      個人出店
      %br
      ＼新規会員登録／
    = link_to new_host_registration_path, class: 'btn-recruitment' do
      ショップ出店
      %br
      ＼新規会員登録／

  .recruitment-content
    %h2 つながるマルシェとは？
    %p つながるマルシェは、地域のイベントやショップを紹介するサイトです。個人やショップが出店するイベントを紹介し、地域の魅力を発信する場として、多くの方にご利用いただいています。
    %p 出店者は、イベントの告知やショップの情報を掲載することができ、地域の人々とつながる機会を提供します。出店者同士の交流も活発で、新たなビジネスチャンスが生まれることもあります。
    %p つながるマルシェでは、個人会員とショップ会員の2つのアカウントタイプを用意しています。どちらのアカウントも、地域のイベントやショップ情報を掲載することができますが、機能や料金に違いがあります。
    %p つながるマルシェを利用するメリット
    %ul
      %li 画像を使って分かりやすくイベントやショップ情報を掲載できる。
      %li ホームページの代わりとしても利用していただける。
      %li イベントの履歴を残すことができ、過去のイベント情報を振り返ることができる。
      %li 地域やショップオーナーという検索をかけることができるので、ファンが増える。
    %p つながるマルシェを利用するデメリット
    %ul
      %li 掲載費用がかかる。

    
    %p 出店者を募集しています。ご興味のある方は、以下の詳細をご覧ください。
    %h2 ①アカウントの違い
    %table.account-comparison
      %thead
        %tr
          %th 項目
          %th 個人会員
          %th ショップ会員
      %tbody
        %tr
          %td 金額
          %td 680円（税込）
          %td 1,480円（税込）   
        %tr
          %td サイトの機能
          %td ▲
          %td ◎
        %tr
          %td ホームページとしての機能
          %td ▲
          %td ◎
        %tr
          %td イベント告知の頻度
          %td 月2回まで
          %td 制限なし
        %tr
          %td SNSシェア機能
          %td あり <br> "準備中"
          %td あり <br> "準備中"
        %tr
          %td イベント画像の枚数
          %td 1イベントにつき3枚まで
          %td 1イベントにつき10枚まで
        %tr
          %td 注目ピックアップ掲載
          %td なし
          %td あり

    %h2 ②会員登録の流れ
    %p 1. まずは、個人会員またはショップ会員のいずれかを選択し、会員登録を行います。
    %p 2. 登録後、3週間は各会員区分の機能が無料で利用いただけます。
    %p 3. 機能やデザインに満足いただけた場合は、継続決済申請をしてください。
    %p 4. 継続される場合
    %ul
      %li 個人会員の場合、月額680円（税込）で継続できます。
      %li ショップ会員の場合、月額1,480円（税込）で継続できます。
      %li 継続決済申請は、マイページから行うことができます。
      %li 登録から3週間以内に決済プラットフォームへの登録をお願いします。つながるマルシェでは会費ペイのフォームを利用しますので、つながるマルシェ自体には決済情報が保存されません。
    %p 4. 継続されない場合
    %ul
      %li アカウントの機能が停止されます。
      %li 公開されたイベントは引き続き閲覧可能ですが、イベントの新規掲載や編集ができなくなります。
    
    %p 5. アカウント（会員登録）削除について
    %ul
      %li 会員の削除はショップ側では行えない仕様になっています。問い合わせフォームから削除申請を行ってください。
      %li 月の途中で削除申請を行った場合、返金は致しかねますのでご承知おきください。

  .recruitment-btn-containaer
    = link_to new_seller_registration_path, class: 'btn-recruitment' do
      個人出店
      %br
      ＼新規会員登録／
    = link_to new_host_registration_path, class: 'btn-recruitment' do
      ショップ出店
      %br
      ＼新規会員登録／


  .recruitment-content
    %h2 ③イベント出店の方法について
    %p 出店されるイベントがある場合は、マイページからイベント出店の告知を投稿してください。
    

    %h2 ④イベントを盛り上げるコツ
    %p イベントを盛り上げるためには、以下のポイントに注意してください。
    %ul
      %li イベントの告知は、できるだけ早めに行いましょう。
      %li SNSや地域の掲示板などで積極的に宣伝しましょう。
      %li イベント当日は、参加者とのコミュニケーションを大切にしましょう。
      %li 参加者からのフィードバックを活用して、次回のイベントに活かしましょう。
    %p つながるマルシェでは、出店者同士の交流を促進するためのイベントやワークショップも定期的に開催しています。ぜひご参加ください。
    %p つながるマルシェは、地域のイベントやショップを通じて、地域の魅力を発信し、地域の活性化を目指しています。出店者の皆様と一緒に、地域を盛り上げていきたいと考えています。ご興味のある方は、ぜひご登録ください。
    %p ご不明点やご質問がある場合は、お気軽にお問い合わせください。つながるマルシェの運営チームがサポートいたします。
    %p つながるマルシェでの出店を通じて、地域の魅力を一緒に発信していきましょう！


  .recruitment-btn-containaer
    = link_to new_seller_registration_path, class: 'btn-recruitment' do
      個人出店
      %br
      ＼新規会員登録／
    = link_to new_host_registration_path, class: 'btn-recruitment' do
      ショップ出店
      %br
      ＼新規会員登録／

= render 'footer/footer' # フッターのパーシャルを呼び出す