%body
  = render 'header/header'

  .title-content-container
    .title-content
      %h1 新着イベント一覧
      %p 日本全国のイベントがここに集結！地域の魅力を発見しよう。
      %p さあ、あなたの次のお出かけを見つけましょう！
      %p つながるマルシェで、素敵な出会いを見つけてください！
      
    -# - if seller_signed_in? || host_signed_in?
    -#   .seller-btn
    -#     = link_to new_event_path, class: 'new-button' do
    -#       %p 新規イベントを作成する

  = form_with url: events_path, method: :get, class: 'filter-form' do |f|
    .prefectures-field
      = f.label :prefecture, '都道府県で絞り込む'
      = f.select :prefecture, @prefectures, include_blank: '全て', selected: params[:prefecture]

    .sort-field
      = f.label :sort, '並び替え'
      = f.select :sort, sort_options, include_blank: '並び替えを選択', selected: params[:sort]

    = f.submit '絞り込む'

  - if @message.present?
    .message
      %p= @message

  .event-cards
    - @events.each do |event|
      .event-card
        = link_to event_path(event) do
          - if event.images.present? && event.images.attached?
            .index-event-image
              = image_tag event.images.first.variant(resize_to_limit: [800, 600]), class: 'event-image'
          - else
            .event-no-image
              = image_tag asset_path("no_image_square.jpg"), class: 'event-no-img'

        .event-card-content
          %h3= link_to event.title, event_path(event)
          %p 出店者
          - if event&.seller.present?
            = link_to event.seller.name, seller_path(event.seller)
          - elsif event&.host.present?
            -# ホストのスラッグが存在すればスラッグを、なければIDを渡すロジック
            - if event.host.slug.present?
              = link_to event.host.name, public_host_profile_path(event.host.slug) # ここを修正 (event.host.nameは正しい)
            - else
              = link_to event.host.name, public_host_profile_path(event.host.id)   # ここを修正
          - else
            主催者 未設定
          %p 概要
          = truncate(event.description, length: 50)
          %p 開始時間
          = event.start_time.present? ? event.start_time.strftime('%Y年%-m月%-d日 %H時%M分') : '未定'
          %p 終了時間
          = event.end_time.present? ? event.end_time.strftime('%Y年%-m月%-d日 %H時%M分') : '未定'
          %p 開催場所
          = event.venue.present? ? event.venue : 'その他'
          
          -# - if @event&.host.present?
          -#   = link_to '編集', edit_host_event_path(@event.host.slug.presence || @event.host.id, @event), class: 'operation-button'
          -#   = button_to '削除', destroy_host_event_path(@event.host.slug.presence || @event.host.id, @event), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'button-delete'
          -# - else
          -#   主催者情報が不足しています。

%nav.pagination
  = paginate @events


= render 'footer/footer'

