- content_for :title do
  = @event.title + " | Marche イベント詳細"

- content_for :description do
  = truncate(@event.description, length: 100, omission: "...") # 説明文を100文字で切り詰め

- content_for :canonical_url do
  = request.original_url

- content_for :og_title do
  = @event.title + " | Marcheイベント"

- content_for :og_description do
  = truncate(@event.description, length: 100)

- if @event.images.attached? && @event.images.any?
  - og_image_url = url_for(@event.images.first.variant(resize_to_limit: [1200, 630]))
  - content_for :og_image do
    = og_image_url
  - content_for :twitter_image do
    = og_image_url

%body
  = render 'header/header' # ヘッダーのパーシャルを呼び出す
  
  .event-index
    .index-btn
      %p 出店詳細ページ
    .share-buttons
      %a{ href: "https://twitter.com/intent/tweet?text=#{ERB::Util.url_encode(@event.title)}&url=#{ERB::Util.url_encode(request.original_url)}", target: "_blank", rel: "noopener noreferrer", class: "share-button twitter-share" }
        %img{ src: asset_path("logo-black.png"), alt: "Share on X", width: "32", height: "32" }
        Xでシェア
      %a{ href: "https://social-plugins.line.me/lineit/share?url=#{ERB::Util.url_encode(request.original_url)}", target: "_blank", rel: "noopener noreferrer", class: "share-button line-share" }
        %img{ src: asset_path("LINE_icon.png"), alt: "Share on LINE", width: "32", height: "32" }
        LINEでシェア
      %a{ href: "https://www.facebook.com/sharer/sharer.php?u=#{ERB::Util.url_encode(request.original_url)}", target: "_blank", rel: "noopener noreferrer", class: "share-button facebook-share" }
        %img{ src: asset_path("Facebook_Logo_Primary.png"), alt: "Share on Facebook", width: "32", height: "32" }
        Facebookでシェア
  
  .event-title
    %h2= @event.title

  .event-images
    - if @event.images.attached? && @event.images.any?
      - @event.images.each do |image| # includesで既に最適化済み
        .event-image
          = image_tag image.variant(resize_to_limit: [800, 600])

    - else
      .event-no-image
        = image_tag "no_image_square.jpg", class: 'event-no-image' # デフォルト画像を表示

  %table.event-details
    %tr
      %th.organizer-label
        出店者
      %td
        - if @event&.seller.present?
          = link_to @event.seller.name, seller_path(@event.seller) # seller_pathは通常IDベース
        - elsif @event&.host.present?
          -# ここでホストのスラッグの有無を確認
          - if @event.host.slug.present?
            = link_to @event.host.name, public_host_profile_path(@event.host.slug) # ★ここを修正★
          - else
            = link_to @event.host.name, public_host_profile_path(@event.host.id) # ★ここを修正★
        - else
          出店者 未設定
    %tr
      %th 概要の説明
      %td= simple_format(@event.description)
    
    %tr
      %th 開始日時
      %td= @event.start_time.present? ? @event.start_time.strftime('%Y年%-m月%-d日 %H時%M分') : '未定'
    %tr
      %th 終了日時
      %td= @event.end_time.present? ? @event.end_time.strftime('%Y年%-m月%-d日 %H時%M分') : '未定'
    %tr
      %th 都道府県
      %td= @event.venue
    %tr
      %th 住所
      %td= @event.address
    %tr
      %th 定員の目安
      %td= @event.capacity
    %tr
      %th オンライン開催
      %td= @event.is_online ? 'オンライン開催あり' : 'オンライン開催なし'
    %tr
      %th オンラインURL
      %td= link_to @event.online_url, @event.online_url, target: "_blank" if @event&.online_url
    %tr
      %th 有料イベント
      %td= @event.is_free ? '参加費用がかかります' : '無料'
    %tr
      %th 参加費
      %td= @event.price
    %tr
      %th 主催者
      %td= @event.organizer.presence || '未設定'
    %tr
      %th 連絡先
      %td= @event.contact_info
    %tr
      %th ウェブサイト
      -# %td= @event.website
      %td= link_to @event.website, @event.website, target: "_blank" if @event&.website
    -# %tr
    -#   %th 動画URL
    -#   %td= @event.video

- if (seller_signed_in? && current_seller == @event.seller) || (host_signed_in? && current_host == @event.host)
  .edit-links.edit-links-horizontal
    - if host_signed_in? && current_host == @event.host
      = link_to '編集', edit_host_event_path(@event.host.to_param, @event), class: 'operation-button'
      = button_to '削除', host_event_path(@event.host.to_param, @event), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'button-delete'
    - elsif seller_signed_in? && current_seller == @event.seller
      = link_to '編集', edit_event_path(@event), class: 'operation-button'
      = button_to '削除', event_path(@event), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'button-delete'

= link_to 'イベント一覧へ戻る', events_path, class: 'operation-button'

= render 'footer/footer'