%body
  = render 'header/header' # ヘッダーのパーシャルを呼び出す

%h1 イベント詳細ページ

%h2= @event.title

.event-images
  - if @event.images.present? && @event.images.attached?
    - @event.images.each_with_index do |image, index|
      .event-image{class: "image-#{index + 1}"}
        = image_tag image, size: "300x200"
  - else
    .event-no-image
      = image_tag "no_image_square.jpg", class: 'event-no-image' # デフォルト画像を表示

%table.event-details
  %tr
    %th 主催者
    %td= link_to @event.seller&.name, seller_path(@event.seller) if @event.seller
  %tr
    %th 説明
    %td= @event.description
  %tr
    %th 開始日時
    %td= @event.start_time.present? ? @event.start_time.strftime('%Y年%-m月%-d日 %H時%M分') : '未定'
  %tr
    %th 終了日時
    %td= @event.end_time.present? ? @event.end_time.strftime('%Y年%-m月%-d日 %H時%M分') : '未定'
  %tr
    %th 都道府県
    %td= @event.venue
  %tr
    %th 住所
    %td= @event.address
  %tr
    %th 定員の目安
    %td= @event.capacity
  %tr
    %th オンライン開催
    %td= @event.is_online ? 'はい' : 'いいえ'
  %tr
    %th オンラインURL
    %td= @event.online_url
  %tr
    %th 有料イベント
    %td= @event.is_free ? '参加費用あり' : '無料'
  %tr
    %th 参加費
    %td= @event.price
  %tr
    %th 連絡先
    %td= @event.contact_info
  %tr
    %th ウェブサイト
    %td= @event.website
  -# %tr
  -#   %th ステータス
  -#   %td= @event.status
  %tr
    %th 動画URL
    %td= @event.video

- if seller_signed_in? && current_seller == @event.seller
  .edit-links
    = link_to '編集', edit_event_path(@event)
    
    = link_to '削除', event_path(@event), data: { turbo_method: :delete, confirm: '本当に削除してもよろしいですか？' }
    
    = link_to '戻る', events_path
