= render 'header/header' # ヘッダーのパーシャルを呼び出す

%h2.text-center.mb-4 つながるマルシェ管理画面（サインアップ・新規登録）

.container
  .row.justify-content-center
    .col-md-6
      .card.shadow-sm
        .card-body
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = render "admin/shared/error_messages", resource: resource

            .mb-3
              = f.label :email, class: "form-label"
              = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"

            .mb-3
              = f.label :password, class: "form-label"
              - if @minimum_password_length
                %em.text-muted= "(#{@minimum_password_length} characters minimum)"
              = f.password_field :password, autocomplete: "new-password", class: "form-control"

            .mb-3
              = f.label :password_confirmation, class: "form-label"
              = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"

            .d-grid
              -# = f.submit "Sign up", class: "btn btn-primary btn-block" -# サインアップのボタンを非表示にした

          .mt-3.text-center
            = render "admin/shared/links"


= render 'footer/footer'