= render 'header/header' # ヘッダーのパーシャルを呼び出す

.admin-edit-page
  %h1 セラーアカウント詳細ページ

  %table.admin-user-info
    %tbody
      %tr
        %th 名前
        %td= @seller.name if @seller.respond_to?(:name) # name属性が存在する場合のみ表示

      %tr
        %th メール
        %td= @seller.email

      %tr
        %th 住所
        %td= @seller.address

      %tr
        %th 電話番号
        %td= @seller.phone_number

      %tr
        %th ウェブサイト
        %td= link_to @seller.website, @seller.website, target: "_blank" if @seller.website.present?

      %tr
        %th 運営からコメント
        %td
          - if @admin_comments.present?
            %ul
              - @admin_comments.each do |comment|
                %li
                  %strong= comment.created_at.strftime('%Y/%m/%d %H:%M')
                  = ": #{comment.body}"
          - else
            %p コメントはまだありません。

  %h2 管理者コメント
  = form_with model: [@seller, Comment.new], url: admin_seller_comments_path(@seller), method: :post, local: true do |f|
    .form-group
      = f.label :body, "コメント"
      = f.text_area :body, rows: 5, class: "form-control"

    .form-actions
      = f.submit "コメントを保存", class: "button"
    = link_to "戻る", admin_users_path, class: "button button-secondary"
