.header
  .header-left
    = link_to root_path do
      .link_inner
        %h1 つながるマルシェ

  .header-logo
    = image_tag "", alt: "つながるマルシェ"

  .header-right
    %p サブタイトル
    
  .login-btn
    
    - if seller_signed_in?
      = link_to sellers_path, class: 'button logged-in' do
        個人出店<br>マイページ
      = link_to 'ログアウト', destroy_seller_session_path, method: :delete,  class: 'button'

    - else
      = link_to new_seller_session_path, class: 'button', id: 'seller-login-btn' do
        個人出店
        %br
        ログイン

      = link_to new_seller_registration_path, class: 'button', id: 'seller-signup-btn' do
        個人出店
        %br
        ＼新規会員登録／

  .signup-btn
   
    - if host_signed_in?
      = link_to hosts_path, method: :delete, class: 'button logged-in' do
        ショップ出店<br>マイページ
      = link_to 'ログアウト', destroy_host_session_path, method: :delete, class: 'button'
    - else
      = link_to new_host_session_path, class: 'button', id: 'host-login-btn' do
        ショップ出店
        %br
        ログイン

      = link_to new_host_registration_path, class: 'button', id: 'host-signup-btn' do
        ショップ出店
        %br
        ＼新規会員登録／


.nav
  %nav
    %ul
      %li
        
        %a{href: "#"} イベントタイプから選択　<br>　"comming soon"

      %li
        = link_to events_path do
          イベント地域から選択
      %li
        %a{href: "#"} 日程から選択　<br>　"comming soon"
      %li
        = link_to recruitment_path do
          出展するには？
      %li
        %a{href: "#"} FAQ & Tips　<br>　"comming soon"