.header
  .header-left
    = link_to root_path do
      .link_inner
        %h1 つながるマルシェ

  .header-logo
    = image_tag "", alt: "つながるマルシェ"

  .header-right
    %p サブタイトル
    
  .login-btn
    
    - if seller_signed_in?
      = link_to 'セラー　　　マイページ', sellers_path, class: 'button'
      = link_to 'ログアウト', destroy_seller_session_path, method: :delete,  class: 'button'

    - else
      = link_to '個人出店者   ログイン', new_seller_session_path, class: 'button', id: 'seller-login-btn'
      = link_to '個人出店　　会員登録', new_seller_registration_path, class: 'button', id: 'seller-signup-btn'

  .signup-btn
   
    - if host_signed_in?
      = link_to 'ホストマイページ', hosts_path
    - else
      = link_to '施設出店者  ログイン', new_host_session_path, class: 'button', id: 'host-login-btn'
      = link_to '施設出店　　会員登録', new_host_registration_path, class: 'button', id: 'host-signup-btn'


.nav
  %nav
    %ul
      %li
        %a{href: "#"} イベントタイプ<br>から選択
      %li
        %a{href: "#"} イベント地域　<br>　から選択
      %li
        %a{href: "#"} 日程から選択
      %li
        %a{href: "#"} 出展するには？
      %li
        %a{href: "#"} FAQ & Tips