%h1 無料会員登録

= form_with model: @user, local: true do |f|
  .form-group
    = f.label :name, "名前"
    = f.text_field :name, required: true

  .form-group
    = f.label :email, "メールアドレス"
    = f.email_field :email, required: true

  .form-group
    = f.label :password, "パスワード"
    = f.password_field :password, required: true

  .form-group
    = f.label :password_confirmation, "パスワード確認"
    = f.password_field :password_confirmation, required: true

  = f.submit "登録", class: "button"
