= render 'header/header' # ヘッダーのパーシャルを呼び出す

.admin-edit-page
  %h1 アカウント詳細ページ

  %table.admin-user-info
    %tbody
      %tr
        %th 名前
        %td= @user.name if @user.respond_to?(:name) # name属性が存在する場合のみ表示

      %tr
        %th メール
        %td= @user.email

      %tr
        %th 住所
        %td= @user.address

      %tr
        %th 電話番号
        %td= @user.phone_number

      %tr
        %th ウェブサイト
        %td= link_to @user.website, @user.website, target: "_blank" if @user.website.present?

    -#   %tr
    -#     %th 運営からコメント
    -#     %td
    -#       - if @admin_comments.present?
    -#         %ul
    -#           - @admin_comments.each do |comment|
    -#             %li
    -#               %strong= comment.created_at.strftime('%Y/%m/%d %H:%M')
    -#               = ": #{comment.body}"
    -#       - else
    -#         %p コメントはまだありません。


-# %p= link_to "管理者コメントはこちら", edit_admin_seller_path