%h1 新しいお知らせを作成

= form_with model: [:admin, @notice], local: true do |form|
  - if @notice.errors.any?
    #error_explanation
      %h2= pluralize(@notice.errors.count, "error") + " prevented this notice from being saved:"
      %ul
        - @notice.errors.full_messages.each do |message|
          %li= message

  .form-group
    = form.label :title, "タイトル"
    = form.text_field :title, class: 'form-control'

  .form-group
    = form.label :content, "内容"
    = form.text_area :content, class: 'form-control'

  

  .actions
    = form.submit "作成", class: 'btn btn-primary'

= link_to '戻る', admin_notices_path, class: 'btn btn-secondary'